.gamedetails-page{
   
    margin-top: 100px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(650px, 1fr));
    margin: .1rem 0 0 3vw;
    padding: 0;
    list-style-type: none;
  }
  
  .card {
    position: relative;
    display: block;
    height: 100%;  
    border-radius: 10%;
    overflow: hidden;
    text-decoration: none;
  }
  
  .card__image {      
    width: 700px;
    height:420px;
  }
  
  .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(var(--curve) * 1px);    
    background-color: var(--surface-color);      
    transform: translateY(100%);
    transition: .2s ease-in-out;
    background-color: rgba(0,0,0,0.5)
  }
  
  .card:hover .card__overlay {
    transform: translateY(0);
    background-color: rgba(0,0,0,0.5)
  }
  
  .card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em 2em 0;
    border-radius: calc(var(--curve) * 1px) 0 0 0;    
    transform: translateY(0);
    transition: .2s ease-in-out;
   
  }
  
  .card__arc {
    width: 1000px;
    height: 1000px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
  }
  
  .card__arc path {
    fill: var(--surface-color);
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
  }       
  
  .card:hover .card__header {
    transform: translateY(0);
  }
  
  .card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;      
    border-radius: 50%;      
  }
  
  .card__title {
    font-size:  1.5em;
    margin: 0 0;
    color: white;
  }
  
  .card__tagline {
    display: block;
   
    font-family: "MockFlowFont";  
    font-size: .8em; 
    color: #D7BDCA;  
  }
  
  .card__status {
    font-size: .8em;
    color: #D7BDCA;
  }
  
  .card__description {
    padding: 0 2em ;
    margin: 0;
    color: #D7BDCA;
    font-family: "MockFlowFont";   
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }    

  .game-info{
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 130%;
    align-items: center;
    justify-content: space-around;
    align-items: center;
  }

  .img-platform{
    height: 25px;
  }

  .img-genre{
    height: 20px;
  }

  .columns-extra{
    display: flex;
    flex-direction: row;
  }

  .trashcan{
    height: 5vh;
  }

  .column-tournaments{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 4%;
    margin-top: 1.5%;
    margin-left: 2%;
    width: 270px;
    padding: 30px 30px;
    height: 380px;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    position: absolute;
    
  }
  
  
  
  .extra{
    display: flex;
    flex-direction: row;
  }


.link-tournament{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    margin: 5px 0 30px;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
   
}
.link-tournament:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
.link-tournament:nth-child(1){
    filter: hue-rotate(270deg);
}
.link-tournament:nth-child(2){
    filter: hue-rotate(110deg);
}
.link-tournament span{
    position: absolute;
    display: block;
}
.link-tournament span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
.link-tournament span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.link-tournament span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


.link-tournament span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}

.t-text{
    color: white;
    margin-top: -.4%;
    margin-left: 52%;
    font-weight: 500;
    font-size: 35.5px;
    position: absolute;
    z-index: 2; 
    text-transform: uppercase;
    letter-spacing: 4px;
    text-shadow: 0px 3px 0px #b2a98f,
                 0px 14px 10px rgba(0,0,0,0.15),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1);
}

.s-text{
    color: white;
    margin-top: -.4%;
    margin-left: 81%;
    font-weight: 500;
    font-size: 35.5px;
    position: absolute;
    z-index: 2; 
    letter-spacing: 4px;
    text-shadow: 0px 3px 0px #b2a98f,
                 0px 14px 10px rgba(0,0,0,0.15),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1);
}

.column-social{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 4%;
    margin-top: 1.5%;
    margin-left: 23%;
    width: 350px;
    padding: 30px 30px;
    height: 380px;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    position: absolute;
    
  }

.container-tourn{
    justify-content: space-around;
    position: absolute;
    margin-left: 57%;
    margin-top: -12%;
    
}
  
.container-tourn .card-games{
    position: relative;
}
  
.container-tourn .card-games .games-face{
    width:170px;
    height: 80px;
    transition:.4s;    
}
  
.container-tourn .card-games .games-face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-content:center;
    align-items: center;
    z-index: 1;
    transform: translateY(50px);
    box-shadow: 0 20px 50px rgba(0,0,0,.8);
}
  
.container-tourn .card-games:hover .games-face.face1{
    
    box-shadow:
      inset 0 0 60px whitesmoke,
      inset 20px 0 80px #f0f,
      inset -20px 0 80px #0ff,
      inset 20px 0 300px #f0f,
      inset -20px 0 300px #0ff,
      0 0 50px #fff,
      -10px 0 80px #f0f,
      10px 0 80px #0ff;     
}
  
  
.container-tourn .card-games .games-face.face1 .content-games{
    opacity: .2;
    transition:  0.5s;
    text-align: center;  
  }
  
.container-tourn .card-games:hover .games-face.face1 .content-games{
    opacity: 1;   
}
  
.container-tourn .card-games .games-face.face1 .content-games i{
    font-size: 3em;
    color: white;
    display: inline-block;     
}
  
.container-tourn .card-games .games-face.face1 .content-games h3{
    font-size: 1em;
    color: white;
    text-align: center;  
}
  
.container-tourn .card-games .games-face.face1 .content-games a{
    transition: .5s;
}
  
.container-tourn .card-games .games-face.face2{
    position: relative;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,.8);
    
}
  
.container-tourn .card-games:hover .games-face.face2{
    transform: translateY(0);
}
  
.container-tourn .card-games .games-face.face2 .content-games p, a{
    font-size: 10pt;
    margin: 0 ;
    padding: 0;
    color:#333;
}
  
.container-tourn .card-games .games-face.face2 .content-games a{
    text-decoration:none;
    color: black;
    box-sizing: border-box;
    outline : 1px dashed #333;
    padding: 10px;
    margin: 8px 0 0;
    display: inline-block;
}
  
.container-tourn .card-games .games-face.face2 .content-games a:hover{
    background: #333 ;
    color: whitesmoke; 
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
}




.container-social{
    justify-content: space-around;
    position: absolute;
    margin-left: 81%;
    margin-top: -12%;
    
}
  
.container-social .card-games{
    position: relative;
}
  
.container-social .card-games .games-face{
    width:170px;
    height: 80px;
    transition:.4s;    
}
  
.container-social .card-games .games-face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-content:center;
    align-items: center;
    z-index: 1;
    transform: translateY(50px);
    box-shadow: 0 20px 50px rgba(0,0,0,.8);
}
  
.container-social .card-games:hover .games-face.face1{
    
    box-shadow:
      inset 0 0 60px whitesmoke,
      inset 20px 0 80px #f0f,
      inset -20px 0 80px #0ff,
      inset 20px 0 300px #f0f,
      inset -20px 0 300px #0ff,
      0 0 50px #fff,
      -10px 0 80px #f0f,
      10px 0 80px #0ff;     
}
  
  
.container-social .card-games .games-face.face1 .content-games{
    opacity: .2;
    transition:  0.5s;
    text-align: center;  
  }
  
.container-social .card-games:hover .games-face.face1 .content-games{
    opacity: 1;   
}
  
.container-social .card-games .games-face.face1 .content-games i{
    font-size: 3em;
    color: white;
    display: inline-block;     
}
  
.container-social .card-games .games-face.face1 .content-games h3{
    font-size: 1em;
    color: white;
    text-align: center;  
}
  
.container-social .card-games .games-face.face1 .content-games a{
    transition: .5s;
}
  
.container-social .card-games .games-face.face2{
    position: relative;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,.8);
    
}
  
.container-social .card-games:hover .games-face.face2{
    transform: translateY(0);
}
  
.container-social .card-games .games-face.face2 .content-games p, a{
    font-size: 10pt;
    margin: 0 ;
    padding: 0;
    color:#333;
}
  
.container-social .card-games .games-face.face2 .content-games a{
    text-decoration:none;
    color: black;
    box-sizing: border-box;
    outline : 1px dashed #333;
    padding: 10px;
    margin: 8px 0 0;
    display: inline-block;
}
  
.container-social .card-games .games-face.face2 .content-games a:hover{
    background: #333 ;
    color: whitesmoke; 
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
}